[submodule "single-spa/react-project"]
	path = single-spa/react-project
	url = git@github.com:cgfeel/micro-single-app-react.git
[submodule "single-spa/substrate"]
	path = single-spa/substrate
	url = git@github.com:cgfeel/micro-single-app-substrate.git
[submodule "single-spa/vue-project"]
	path = single-spa/vue-project
	url = git@github.com:cgfeel/micro-single-app-vue.git
[submodule "systemjs"]
	path = systemjs
	url = git@github.com:cgfeel/micro-systemjs.git
[submodule "single-spa-raw"]
	path = single-spa-raw
	url = git@github.com:cgfeel/micro-single-spa-app.git
[submodule "qiankun/substrate"]
	path = qiankun/substrate
	url = git@github.com:cgfeel/micro-qiankun-substrate.git
[submodule "qiankun/react-project"]
	path = qiankun/react-project
	url = git@github.com:cgfeel/micro-qiankun-app-cra.git
[submodule "qiankun/static-project"]
	path = qiankun/static-project
	url = git@github.com:cgfeel/micro-qiankun-app-static.git
[submodule "qiankun/vue-project"]
	path = qiankun/vue-project
	url = git@github.com:cgfeel/micro-qiankun-app-vue3.git
[submodule "single-spa/single-spa-raw"]
	path = single-spa/single-spa-raw
	url = git@github.com:cgfeel/micro-qiankun-substrate.git
